/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #1A1A1A;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #FFFFFF;
}

.peringatan {
    text-align: center;
    color: red;
}

img {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
}

#search-box {
  padding: 15px;
  width: 95%;
  border: none;
  border-radius: 30px;
  background-color: #000000;
  color: #B0B0B0;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.9), 0 0 40px rgba(0, 255, 0, 0.9), 0 0 50px rgba(0, 0, 255, 0.9);
  outline: none;
  animation: rgb-animation 3s infinite;
}

@keyframes rgb-animation {
  0% {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9), 0 0 40px rgba(0, 255, 0, 0.9), 0 0 50px rgba(0, 0, 255, 0.9);
  }
  33% {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.9), 0 0 40px rgba(0, 0, 255, 0.9), 0 0 50px rgba(255, 0, 0, 0.9);
  }
  66% {
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.9), 0 0 40px rgba(255, 0, 0, 0.9), 0 0 50px rgba(0, 255, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9), 0 0 40px rgba(0, 255, 0, 0.9), 0 0 50px rgba(0, 0, 255, 0.9);
  }
}


#searchBox:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}

#dataList {
    list-style-type: none;
    padding: 0;
}

#dataList li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #FFFFFF;
    line-height: 1.8;
    opacity: 0;
    /* Start hidden */
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Hidden items */
#dataList li.hidden {
    display: none;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tombol-kanan {
  text-align: right;
}
